[user]
  name = Tom Green
  email = kingofcuddles@gmail.com

[push]
  default = simple

[core]
  autocrlf = input
  excludesfile = C:\\Users\\Tom\\.gitignore

[color]
  ui = auto
[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[help]
  autocorrect = 1