[user]
	name = Tom Green
	email = kingofcuddles@gmail.com

[push]
	default = simple

[core]
	autocrlf = input
	excludesfile = ~/.gitignore

[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
	df = diff

[color]
	ui = auto
[color "status"]
	added = yellow
	changed = green
	untracked = cyan